{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Signup | Herbalist</title>
{% endblock %}



{% block bodyblock %}
{% if messages %}
<div class="message-wrapper">
  {% for message in messages %}
    <div class="alert {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}


<link rel="stylesheet" href="/static/css/signup.css">

<!-- HERO SECTION -->
<section class="signup-hero">

  <div class="signup-box">

    <div class="brand">
      <img src="{% static 'image/leaf.png' %}" alt="leaf">
      Herbalist
    </div>

    <h3>Create Account</h3>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password1" placeholder="Password" required>
      <input type="password" name="password2" placeholder="Confirm Password" required>
      <button type="submit">Sign up</button>
    </form>

    <p style="text-align:center;margin-top:12px;font-size:14px;">
      Already a user?
      <a href="/auth/login/" style="color:#1f4d3f;font-weight:600;">Login here</a>
    </p>

  </div>

</section>

{% endblock %}

