{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Home Page</title>{% endblock %}

{% block bodyblock %}
<link rel="stylesheet" href="/static/css/home.css">
    <!-- ABOUT HERO -->
<section class="about-hero" style="background-image: url('/static/image/header.jpg');">
  <div class="about-content" >
    <h1>About</h1>
    <p>
      Nibh tellus molestie nunc non blandit.
      Mi tempus imperdiet nulla malesuada pellentesque elit
    </p>
  </div>
</section>

<!-- BREADCRUMB -->
<div class="breadcrumb">
  <a href="/">Home</a>
  <span>/</span>
  <span class="current">About</span>
</div>

<section class="about-info">
  <div class="about-wrapper">
    <!-- LEFT CONTENT -->
    <div class="about-text">
      <h2>
        Our knowledgeable team can help <br>
        you design experiences tailored to <br>
        your needs by accessing one of the <br>
        flower selections
      </h2>

      <p>
        Elementum eu facilisis sed odio morbi quis commodo odio. 
        Mauris rhoncus aenean vel elit scelerisque mauris pellentesque.
        Accumsan sit amet nulla facilisi morbi tempus. Suscipit tellus
        mauris a diam maecenas sed enim ut sem. Turpis egestas maecenas
        pharetra convallis posuere
      </p>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="about-image">
      <img src="{% static 'image/about.jpg'%}" alt="About">
    </div>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="stat-box">
      <h3>180+</h3>
      <p><strong>New products to explore.</strong><br>
      Arcu vitae elementum curabitur vitae nunc sed</p>
    </div>

    <div class="stat-box">
      <h3>3X</h3>
      <p><strong>Quis risus sed vulputate odio ut.</strong><br>
      Arcu vitae elementum curabitur vitae nunc</p>
    </div>

    <div class="stat-box">
      <h3>100%</h3>
      <p><strong>Mauris a diam maecenas sed enim.</strong><br>
      Mauris vitae nunc sed</p>
    </div>

    <div class="stat-box">
      <h3>11K</h3>
      <p><strong>Quis risus sed vulputate odio ut.</strong><br>
      Arcu vitae elementum curabitur vitae nunc</p>
    </div>
  </div>
</section>

<section class="how-we-work">
  <div class="how-header">
    <h2>How We Work</h2>
    <p>
      Accumsan sit amet nulla facilisi morbi tempus. Suscipit
      tellus mauris a diam maecenas sed enim ut sem
    </p>
  </div>

  <div class="how-grid">
    <div class="how-card">
      <div class="icon-circle-card">🚚</div>
      <h3>Free Shipping & Returns</h3>
      <p>
        Quis risus sed vulputate odio ut. Arcu vitae elementum
        curabitur vitae nunc
      </p>
    </div>

    <div class="how-card">
      <div class="icon-circle-card">💲</div>
      <h3>Money Back Guarantee</h3>
      <p>
        Quis risus sed vulputate odio ut. Arcu vitae elementum
        curabitur vitae nunc
      </p>
    </div>

    <div class="how-card">
      <div class="icon-circle-card">🎧</div>
      <h3>Online Support</h3>
      <p>
        Quis risus sed vulputate odio ut. Arcu vitae elementum
        curabitur vitae nunc
      </p>
    </div>

    <div class="how-card">
      <div class="icon-circle-card">🔒</div>
      <h3>100% Secure Payment</h3>
      <p>
        Quis risus sed vulputate odio ut. Arcu vitae elementum
        curabitur vitae nunc
      </p>
    </div>
  </div>
</section>



{% endblock %}